rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if isLoggedIn();
    }
    match /beneficiaries/{userEmail} {
      allow read, write: if isLoggedIn() && isValidMessage();
    }
    match /transactions/{transactionsId} {
      allow read, write: if isLoggedIn() && isValidMessage();
    }
  }
  
   function isLoggedIn() {
       return request.auth != null;
   }
   
   function isValidMessage() {
       return true;
   }
}